a {
    background-color: yellow;
    text-align: justify;
}

.big-title {
    font-size: 100px;
    background-color: blanchedalmond;
    text-align: center;

}

.home{
    background-color: aquamarine;
}